<!-- <p>template-form works!</p> -->
<form #userData="ngForm" (ngSubmit)="submitData(userData)">

    <label>First Name</label>
    <br>
    <input type="text" #Fnamelement="ngModel" name="Fname" required ngModel/>
    <div *ngIf="Fnamelement.invalid && Fnamelement.touched ">
        Name is Required
    </div>
    <br><br>

    <label>Last Name</label>
    <br>
    <input type="text" name="Lname" required ngModel/>
    <br><br>

    <button [disabled]="userData.invalid" class="btn btn-primary" type ="submit">Save</button>
</form>
