<!-- <p>template-form works!</p> -->
<h3>User Details</h3>
<br>
<div> <!-- {{date | date:'dd/MM/yyyy'}} -->
    {{salary | custompipe|currency:'INR'}}
    <br>
    {{salary | currency:'INR':'code'}}
    <!-- <p>{{money | custompipe:'pf'}}</p> -->

<form #userData="ngForm" (ngSubmit)="submitData(userData)">

    <label>First Name</label>
    <br>
    <input type="text" #Fname="ngModel" name="Fname" required ngModel/>
    <div  style="color: red;" *ngIf="Fname.invalid && Fname.touched ">
        First name is required.
    </div>
    <br><br>

    <label>Last Name</label>
    <br>
    <input type="text" #Lname="ngModel" name="Lname" required ngModel/>
    <div style="color: red;" *ngIf="Lname.invalid && Lname.touched">
        Last name is required.
    </div>
    <br><br>

    <button [disabled]="userData.invalid" class="btn btn-primary" type ="submit">Save</button>
    <button class="btn btn-primary" type ="reset">Reset</button>
</form>
</div>