<h3>Create Player</h3><button class="btn btn-secondary" (click)="BackToList()">Back to List</button>
<form #userData="ngForm" (ngSubmit)="createData(userData)">
    <label>Shirt no</label>
    <br>
    <input type="text" name="shirtno" #shirtno="ngModel" required ngModel />
    <br><br>

    <label>Name:</label>
    <br>
    <input type="text" name="name" #name="ngModel" required ngModel />
    <br><br>

    <label>Position:</label>
    <br>
   
    <select name="position" #position="ngModel" required ngModel>
        <option>Forward</option>
        <option>Midfielder</option>
    </select>

    <br><br>

    <label>Appearances:</label>
    <br>
    <input type="text" name="appearances" #appearances="ngModel" required ngModel />
    <br><br>

    <label>Goals:</label>
    <br>
    <input type="text" name="goals" #goals="ngModel" required ngModel />
    <br><br>

    <button class="btn btn-primary" type="submit">Create</button>


</form>