<div style="padding-left: 200px;padding-right: 200px;padding-top: 20px;padding-bottom: 50px">


    <h3 style="font-family: 'Times New Roman', Times, serif;"><b>Add Course Details</b></h3>
    <br>
    <form style="padding: 20px;border-style: groove;border-radius: 5px;" [formGroup]="createForm"
        (ngSubmit)='onSubmit(createForm)'>


        <div class="form-group">

            <div>
                <label for="courseName">Course Name:</label>
                <input placeholder="Enter Course Name" type="text" id="courseName" name="courseName"
                    formControlName="courseName" class="form-control" required>
                <div style="color: red;"
                    *ngIf="createForm.get('courseName').hasError('required') && createForm.get('courseName').touched">
                    Course name is required.
                </div>
            </div>
            <br>
            <div>
                <label for="description">Description:</label>
                <textarea placeholder="Enter Description" id="description" name="description"
                    formControlName="description" class="form-control" required></textarea>
                <div style="color: red;"
                    *ngIf="createForm.get('description').hasError('required') && createForm.get('description').touched">
                    Description is required.
                </div>
            </div>
            <br>
            <div>
                <label for="duration">Duration:</label>
                <input placeholder="Enter Duration" type="text" id="duration" name="duration" formControlName="duration"
                    class="form-control" required>
                <div style="color: red;"
                    *ngIf="createForm.get('duration').hasError('required') && createForm.get('duration').touched">
                    Duration is required.
                </div>
            </div>
            <br>
            <div>
                <label for="feesAmount">Amount:</label>
                <input placeholder="Enter Amount" type="text" id="feesAmount" name="feesAmount" formControlName="feesAmount"
                    class="form-control" required>
                <div style="color: red;"
                    *ngIf="createForm.get('feesAmount').hasError('required') && createForm.get('feesAmount').touched">
                    Amount is required.
                </div>
                <div style="color: red;"
                    *ngIf="createForm.get('feesAmount').hasError('pattern') && createForm.get('feesAmount').touched">
                    Amount should be numeric.
                </div>
            </div>
            <br>

            <div>
                <button type="submit" class="btn btn-dark" [disabled]="createForm.invalid">Add Course</button>
            </div>
        </div>
    </form>
</div>