<div>
    <!-- {{date | date:'dd/MM/yyyy'}}
    <p>{{money | currency:'INR':'code'}}</p> -->
    <p>{{money | custompipe:'pf'}}</p>

    <form>
        <div class="form-group" >
            <label>Email</label><br>
            <input type="email" (keyup)="dataHandler($event)" id="EMID"/>
        </div><br>
        <div class="form-group" >
            <label>Password</label><br>
            <input type="password" (keyup)="dataHandler($event)" id="PSID"/>
        </div><br>
        <div class="form-check" >
            <input type="checkbox" (click)="dataHandler($event)" id="CHID"/>
            <label>Check me</label>
        </div><br>
        <button type="button" class="btn btn-primary" (click)="dataHandler($event)" id="btn1">Submit</button>
        <button style="margin-left:20px" type="button" class="btn btn-primary" (click)="dataHandler($event)" id="btn2">Update</button>
     
    </form>
    <table class="table">
        
        <tr *ngFor="let i of userData">
            <td>{{i.email}}</td>
            <td>{{i.password}}</td>
            <td>{{i.isReady}}</td>
        </tr>
    </table>

    <table class="table">
        
        <tr *ngFor="let i of empData">
            <td>{{i.empId}}</td>
            <td>{{i.name}}</td>
            <td>{{i.loc}}</td>
            <td>{{i.salary | currency:'INR'}}</td>
        </tr>
    </table>

    </div>
     