<div class="container">
  
    <table class="table table-striped">
        <thead style="background-color: rgb(236, 233, 208);">
        <th>Employee Id</th>
        <th>Employee Name</th>
        <th>Department Id</th>
        <th>Salary</th>
        <!-- <th>get By Id</th> -->
        <th>Delete action</th>
        <th>Edit action</th>
        </thead>
       
        <tr *ngFor="let e of empData">
            <td>{{e.employeeId}}</td>
            <td>{{e.employeeName}}</td>
            <td>{{e.departmentId}}</td>
            <td>{{e.salary}}</td>
            <td><a [routerLink]="['/getbyEmpid/',e.employeeId]">Details</a></td>
            <td><a [routerLink]="['/deleteEmp/',e.employeeId]">delete</a></td>
            <td><a [routerLink]="['/editEmp/',e.employeeId]">Edit</a></td> 
        </tr>
    </table>
    <a [routerLink]="'/postemp'">Add</a><br>

</div>

