<div class="container">
  
        <table class="table table-striped">
            <th>Department Id</th>
            <th>Department Name</th>
           

            <tr *ngFor="let d of deptData">
                <td>{{d.departmentId}}</td>
                <td>{{d.departmentName}}</td>
                
                <!-- <td><a [routerLink]="['/Getonemovie/',m.id]">DETAILS</a></td>
                <td><a [routerLink]="['/EditMovies/',m.id]">EDIT</a></td>
                <td><a [routerLink]="['/DeleteMoviesLink/',m.id]">DELETE</a></td> -->
            </tr>
        </table>
        <!-- <a routerLink="/AddMovieslink">Add</a> -->
  
</div>
